<div class="p-6 bg-gray-50 min-h-screen">
   <div class="flex justify-between items-center mb-6">
     <h1 class="text-2xl font-semibold text-gray-800">List of Users</h1>
     <div class="flex gap-4">
        <button
          (click)="exportUsersToCSV()"
          class="flex items-center space-x-2 bg-gray-900 hover:bg-gray-800 text-white font-medium px-4 py-2 rounded shadow transition duration-200">
          <span class="material-icons">download</span>
          <span>Export</span>
        </button>
        <button
          (click)="openAddUserDialog()"
          class="flex items-center space-x-2 bg-green-500 hover:bg-green-600 text-white font-medium px-4 py-2 rounded shadow transition duration-200">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
          <span>Add</span>
        </button>
    </div>
   </div>
  <div class="overflow-x-auto rounded-lg shadow">
    <div class="mb-4">
      <button
          (click)="openAddUserDialog()"
          class="fixed bottom-6 right-6 inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-14 w-14 bg-gray-900 text-white shadow-xl hover:shadow-2xl transition-all duration-200 md:hidden">
          <span class="material-icons">Add</span>
      </button>
    </div>
    <table class="min-w-full bg-white">
      <thead class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal">
        <tr>
          <th class="py-3 px-6 text-left">First Name</th>
          <th class="py-3 px-6 text-left">Last Name</th>
          <th class="py-3 px-6 text-left">Email</th>
          <th class="py-3 px-6 text-left">Role</th>
          <th class="py-3 px-6 text-left">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr *ngFor="let user of users" class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6">{{ user.firstName }}</td>
          <td class="py-3 px-6">{{ user.lastName }}</td>
          <td class="py-3 px-6">{{ user.email }}</td>
          <td class="py-3 px-6">{{ user.role }}</td>
          <td class="py-3 px-6 flex space-x-2">
            <div class="relative group">
              <button
                class="bg-blue-400 hover:bg-blue-500 text-white p-2 rounded"
                aria-label="Modifier"
                (click)="onEdit(user)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.232 5.232l3.536 3.536M9 13l6.536-6.536a2 2 0 112.828 2.828L11.828 15.828a2 2 0 01-1.414.586H7v-3a2 2 0 01.586-1.414z" />
                </svg>
              </button>
              <span class="absolute left-1/2 -translate-x-1/2 -top-8 
                          bg-gray-800 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 
                          transition-opacity duration-300 pointer-events-none">
                Modify
              </span>
            </div>

            <div class="relative group">
              <button
                class="bg-red-500 hover:bg-red-600 text-white p-2 rounded"
                aria-label="Supprimer"
                (click)="onDelete(user)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
              <span class="absolute left-1/2 -translate-x-1/2 -top-8 
                          bg-gray-800 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 
                          transition-opacity duration-300 pointer-events-none">
                Delete
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center mt-8 mb-6">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
